* {
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
}
body{
	min-width: 1280px;
}
#contatir {
	width: 100%;
	height: 3220px;
}
.conter {
	width: 100%;
	height: 3220px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 578px;
	background-color: #2587B7;
	overflow: hidden;
}
nav {
	width: 100%;
	height: 64px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px #cfcfcf;
	z-index:999;
	position: relative;
	overflow: hidden;
}
.body-text {
	width: 100%;
	height: 2030px;
	position: relative;
	background-color: #f7f7f7;
	overflow: hidden;
}
.footer-nav {
	width: 100%;
	height: 380px;
	background-color: #363b3e;
}
footer {
	width: 100%;
	height: 168px;
}
#contatir>.conter>header>ul {
	width: 100%;
	height: 82px;
	overflow: hidden;
}
#contatir>.conter>header>ul>li {
	list-style: none;
	display: inline;
	height: 50%;
	width: 100px;
	margin-top: 21px;
	margin-left: 5%;
	position: relative;
}
#contatir>.conter>header>ul>li>p {
	width: 29px;
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px;
	border-right: 0px;
	top: 5px;
	margin-top: 5px;
	position: relative;
}
#contatir>.conter>header>ul>li>a {
	margin-left: 12px;
	float: right;
	margin-top: 10px;
}
#contatir>.conter>header>ul>li>a {
	margin-left: 12px;
	margin-top: 10px;
}

#contatir>.conter>header>ul>li>a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#contatir>.conter>header>ul>li>a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#contatir>.conter>header>ul>li>a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.banner {
	widows: 100%;
	height: 496px;
	text-align: center;
}

#contatir>.conter>header>.banner>p:first-child{
	color: #FFFFFF;
	font-size: 50px;
	top:50px;
	position: relative;
}

#contatir>.conter>header>.banner>.search-group {
	margin: 0 auto;
	border-radius: 5px;
	width: 65%;
	height: 62px;
	top:100px;
	position: relative;
}

#contatir>.conter>header>.banner>.search-group>.show{
	width: 19%;
	height: 62px;
	float: left;
	background-color: #E2EEf4;
	overflow: hidden;
}
#contatir>.conter>header>.banner>.search-group>.show>p{
	float: left;
	font-size: 25px;
	color:#a9bec8;
	display: inline;
	top:15px;
	left:5%;
	position: relative;
}
#contatir>.conter>header>.banner>.search-group>.show>.ceart {
	border: 10px solid #E2EEF4;
	border-top-color: #a9bec8;
	top:30px;
	left:15%;
	position: relative;
	float: left;
	width: 0;
	height: 0;
	overflow: hidden;
}
.search {
	font-size: 30px;
	width: 70%;
	height: 62px;
	float: left;
	padding-left: 1%;
	border-radius: 10px 0 0 10px;
	border: none;
	background-color: #FFFFFF;
}
#contatir>.conter>header>.banner>.search-group>.looking{
	width: 10%;
	height: 62px;
	float: right;
	background-color: #6BC7F5;
	border-radius: 0 10px 10px 0;
}
#contatir>.conter>header>.banner>p{
	color:#FFFFFF;
	font-size: 30px;
	top:150px;
	position: relative;
}
#contatir>.conter>header>.banner>p:last-child{
	color:#FFFFFF;
	font-size: 20px;
	top:200px;
	position: relative;
}
#contatir>.conter>nav>ul{
	width: 100%;
	height: 100%;
}
#contatir>.conter>nav>ul>li{
	list-style: none;
	display: block;
	font-size: 20px;
	margin-left: 5%;
	float: left;
	position: relative;
	height: 100%;
}
#contatir>.conter>nav>ul>li>a{
	display: block;
	margin-top:20px;
}
#contatir>.conter>nav>ul>li>p{
	display: none; 
	float: left;
	position: relative;
	width: 100%;
	bottom:-15px;
	border-bottom:4px solid #eb6148;
}
#contatir>.conter>nav>ul>li>a:link {
	color: #62728a;
	text-decoration: none;
}
#contatir>.conter>nav>ul>li>a:visited {
	color: #62728a;
	text-decoration: none;
}
#contatir>.conter>nav>ul>li>a:hover {
	color: #eb6148;
	text-decoration: none;
}
#contatir>.conter>nav>ul>li>a:active {
	color: #eb6148;
	text-decoration: none;
}
#contatir>.conter>.body-text>.body-text-center{
	position: relative;
	width: 1150px;
	margin: 0 auto;
	top: 90px;
}
#contatir>.conter>.body-text>.body-text-center>ul>li{
	list-style: none;
	margin-bottom: 20px;
}
#contatir>.conter>.body-text>.body-text-center>.left{
	float: left;
	position: relative;
	
}
#contatir>.conter>.body-text>.body-text-center>.center{
	
	float: left;
	position: relative;
	left: 20px;
	
}
#contatir>.conter>.body-text>.body-text-center>.right{
	float: right;
	position: relative;
	/*left: 20px;*/
}
#contatir>.conter>.footer-nav>.footer-nav-left{
	position: relative;
	float: left;
	top:60px;
	left: 5%;
}
#contatir>.conter>.footer-nav>.footer-nav-left>span{
	color: #FFFFFF;
	font-size: 20px;
}
#contatir>.conter>.footer-nav>.footer-nav-left>form>input{
	width: 355px;
	height: 50px;
	border-radius: 10px;
}
#contatir>.conter>.footer-nav>.footer-nav-left>form>button{
	width: 355px;
	height: 50px;
	background-color: #2c88b5;
	border-radius: 10px;
	border: none;
}
#contatir>.conter>.footer-nav>.footer-nav-right{
	position: relative;
	float: right;
	top:60px;
	right: 5%;
}
#contatir>.conter>.footer-nav>.footer-nav-right>p{
	font-size: 20px;
	color:#FFFFFF;
}
#contatir>.conter>.footer-nav>.footer-nav-right>ul{
	float: left;
	position: relative;
	margin-right: 60px;
}
#contatir>.conter>.footer-nav>.footer-nav-right>ul>li{
	list-style: none;
	margin-top:20px;
	color:#8f989d;
}
#contatir>.conter>footer>span:first-child{
	color:#8a949a;
	position: relative;
	
	margin-left: 5%;
	margin-top: 50px;
}
#contatir>.conter>footer>span{
	color:#8a949a;
	position: relative;
	margin-left: 5%;
	top: 40px;
}
#contatir>.conter>footer>.share{
	float: right;
	position: relative;
	right: 5%;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	/*兼容 IE*/
	zoom: 1;
}