* {
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
}
body{
}
.container-fluid>.header{
	background-color: #fb5d2f;
}

.container-fluid>.header>.tb-center{
	color: #FFFFFF;
	margin-top: 15px;
}
.container-fluid>.header>.tb-center>nav{
	background-color: #fb5d2f;
	border:none;
}
.container-fluid>.header>.tb-center>nav>.container-fluid>div>ul>li>a{
	color: #FFFFFF;
}
.container-fluid>.header>.tb-center>b>a{
	color:#FFFFFF;
}
.container-fluid>.header>.tb-center>nav{
	float: right;
}
.container-fluid>.header>.tb-center>nav>.container-fluid>div>ul>li>a>.badge{
	position: absolute;
	top:-10px;
	left:35px;
	border-radius: 50%;
	background-color: #f9360b;
}
.container-fluid>.header>.tb-center>b{
	position: relative;
	top:5px;
	left: 7px;
	font-size: 20px;
}
.container-fluid>.header>.tb-center>span{
	position: relative;
	top:5px;
	left: 20px;
	font-size: 7px;
}
.container-fluid>.header>.tb-center>ul>li{
	display: inline;
	list-style: none;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}
.container-fluid>.header>.tb-center>nav>.container-fluid>div>ul>li:last-child{
	position: relative;
	border: 2px solid #ec3f1f;
	border-radius: 8px;	
	float: left;
}
.container-fluid>.head-nav{
	background-color: #fbf2d3;
}

.container-fluid>.head-nav>div>.navbar{
	margin-top: 20px;
}

.container-fluid>.head-nav>div>nav{
	border:none;
	background-color: #fbf2d3;
}
.container-fluid>.head-nav>div>nav>div>div>ul{
	float: right;
}
.container-fluid>.nav-search{
	background-color: #f9f9f9;
}
.container-fluid>.nav-search>div>span{
	position: relative;
	top: 25px;
}
.container-fluid>.nav-search>.right-search>nav{
	border: none;
	position: relative;
	top: 10px;
	float: right;
}
.container-fluid>.nav-search>.right-search>nav>div>#search-collapse>ul>li:last-child>form{
	position: relative;
	top: 10px;
}
.container-fluid>.nav-search>.right-search>nav>div>#search-collapse>ul>li:last-child>form>*{
	border-radius: 5px;
	height: 30px;
	border: none;
	margin: 0;
}
.container-fluid>.nav-search>.right-search>nav>div>#search-collapse>ul>li:last-child>form>input{
	border-radius: 5px 0 0 5px;
	border: none;
}

.container-fluid>.nav-search>.right-search>nav>div>#search-collapse>ul>li:last-child>form>button{
	position: relative;
	left: -3px;
	border-radius: 0 5px 5px 0;
	padding: 5px;
	background-color: #FFFFFF;
}
